body{background-color: rgb(236, 236, 174);}
h1{background-color: antiquewhite;color: #fc0707;}
h2{background-color: rgb(243, 202, 147);color: blue;}
nav {background-color: rgb(153, 233, 206);}
nav h2{color: #fc0707;}
nav ul {background-color: bisque;color:rgb(167, 102, 5);}
h2{color: rgb(5, 92, 92);}
nav ol{background-color: rgb(203, 214, 211);color: rgb(3, 109, 9);