body {
    background-color: azure; color: brown;
}
h1 {background-color: aquamarine;color: black;}
nav p {background-color:rgb(207, 126, 166);color: aliceblue;}
h2 {background-color: bisque;color: blueviolet;}
p{background-color: aquamarine; color: blue;}
nav{background-color: aqua;color: black;}
h2 {background-color: bisque;color: rgb(190, 238, 167);}
nav ul {background-color: blanchedalmond;color:black}
h2 {background-color:bisque;color: blueviolet;}
nav ol {background-color: rgb(201, 186, 216);color: rgb(250, 8, 8);}
h2{background-color: bisque;color: blueviolet;}
h2 {background-color: bisque;color: blueviolet;}